nav {
	display: block;
	width: 100%;
	background-color: #000080;
	color: #ffffff;
	padding-left: 40px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.headerFontColor * {
	color: #000000 !important;
}